header{
    position: fixed;
    background: $yellow;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
}

#header{
    padding: 20px 0;

    top: 0;
    left: 0;
    right: 0;
    background: $yellow;
}

h1{
    text-align: center;
    background: $yellow;
}

h2{
    text-align: center;
    padding-top: 5px;
    font-size: 1.2rem;
    font-weight: normal;
}

h3{
    text-transform: capitalize;
    padding-top: 10px;
    font-size: 1.5rem;
    margin-left: 10px;
}

#search{
    margin-top: 20px;
    margin-bottom: 5px;
}

