*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


@import "colors";

body{
    max-height: 100vh;
    background: $white;
}

@import "classes";
@import "header";
@import "main";
